* {
 // border: 1px red dashed;
}

body {
 background: skyblue;
}

.container {
    width: 300;
    margin: 0 auto;
}

#time {
    display: inline;
}



/*#timer {
    width: 200px;
    height: 200px;
    background: lime;
    text-align: center;
}*/

/*#timer p {
    padding-top: 80px;
}*/
